{% extends "admin-base.html" %}
{% block title %}Admin Page - Postal Code{% endblock %}

{% block content %}


	<div class="page-header-admin">

		<h2>Postal Code List</h2>
        <p class="lead">Add New Postal Code</p>
	</div>
	<div class="row">
			{% if postal_update_error %}
				<div class="alert alert-danger" role="alert">
				<p style="text-align: center">{{postal_update_error}}</p>
				</div>

				{% elif postal_update_success %}
				<div class="alert alert-success" role="alert">
				<p style="text-align: center">{{postal_update_success}}</p>
				</div>
			{% endif %}
	</div>
	<div class="row">

		<div class="col-md-6">
			<form method="POST" action="/admin-postal-gnew">
				<label>Postal Code</label>
				<input class="form-control" type="text" id="postal_code" name="postal_code" required>

				<label>Latitude</label>
				<input class="form-control" type="text" id="latitude_val" name="latitude_val" required>

				<label>Longtitude</label>
				<input class="form-control" type="text" id="longtitude_val" name="longtitude_val" required>

				<br />
				<button type="submit" class="btn btn-primary">Submit</button>
			</form>
		</div>
	</div>

<!-- container -->


{% endblock %}
