<script>
    function toggleRegisterButton(class_to_remove, class_to_add, message_to_append, disabled) {
        var button          = $('#register-button');
        var button_icon     = $('#button-icon');
        var button_message  = $('#register-button-msg');

        if (button_icon.hasClass(class_to_remove)) {
            button_icon.removeClass(class_to_remove).addClass(class_to_add);
        }

        if (disabled) {
            if (!button.attr('disabled')) {
                button.attr('disabled', 'disabled');
                $('input').attr('disabled', 'disabled');
            }
        } else {
            if (button.attr('disabled')) {
                button.removeAttr('disabled');
                $('input').removeAttr('disabled')
            }
        }

        button_message.html(message_to_append);
    }

    function ajaxResult(success, title, message, html) {
        var alert = $('#ajax-error');
        if (success) {
            $('#register-modal-body').html(html);
        } else {
            alert.find('strong').html(title);
            alert.find('span').html(message);
            alert.css('display', 'block')
        }
    }

    $('#register-button').click(function() {
        var class_original_state    = 'fa-arrow-right';
        var class_working_state     = 'fa-cog fa-spin';

        toggleRegisterButton(class_original_state, class_working_state, 'Registering...', true);

        var name = $('#user_name').val();
        var email = $('#user_email').val();
        var password = $('#password').val();

        $.ajax({
            type: "POST",
            url: "/register",
            data: {
                email:      email,
                full_name:  name,
                password:   password
            },
            success: function(response){
                $('#register-modal-body').html(response['html']);
                $('#register-modal-close-button').css('display', 'block');
                $('#register-button').css('display', 'none');
            },
            error: function(response){
                var jsonResponse = response.responseJSON;
                ajaxResult(false, jsonResponse['title'], jsonResponse['message']);
            },
            complete: function() {
                toggleRegisterButton(class_working_state, class_original_state, 'Register', false);
            }

        });
    });
</script>